################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Restaurants.API/.vs/Restaurants.API
/Restaurants.API/obj
/Restaurants.API/bin/Debug/net8.0
/Restaurants.API/.vs/ProjectEvaluation
/Restaurants.Application/obj
